@use "src/assets/styles/variables" as vars;

.drawer-container {
  height: 100vh;
}

.drawer {
  width: 50vw;
  @media (max-width: vars.$layout-breakpoint-small) {
    width: 80vw;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

.toolbar-wrapper,
.products-wrapper {
  display: flex;
  justify-content: center;
  .toolbar-container,
  .products-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
  }
  .toolbar-container {
    justify-content: space-between;
    align-items: center;
  }
  .products-container {
    flex-direction: column;
    padding: vars.$layout-padding-space 0;
  }
}

.toolbar-wrapper {
  height: 8vh;
  @media (max-width: vars.$layout-breakpoint-small) {
    height: 9vh;
  }
}

.products-wrapper {
  padding: 0 16px;
}
