<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer
    class="drawer"
    position="end"
    #drawer
    [mode]="responsiveService.isMobile ? 'push' : 'side'"
  >
    <app-cart></app-cart>
  </mat-drawer>

  <main>
    <header class="navbar">
      <mat-toolbar class="toolbar-wrapper" color="primary">
        <section class="toolbar-container">
          <h1>Alternova Shop</h1>
          <button style="z-index: 100;" mat-icon-button (click)="drawerToggle(drawer)">
            <mat-icon>{{
              drawerState === "open" ? "close" : "shopping_cart"
            }}</mat-icon>
          </button>
        </section>
      </mat-toolbar>
    </header>
    <article class="content">
      <section class="products-wrapper">
        <div class="products-container">
          <app-products
            [products]="(productsStateService.getProducts$() | async) ?? []"
          ></app-products>
        </div>
      </section>
    </article>
  </main>
</mat-drawer-container>
