<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer
    class="drawer"
    position="end"
    #drawer
    [mode]="responsiveService.isMobile ? 'push' : 'side'"
  >
    <app-cart></app-cart>
  </mat-drawer>

  <main>
    <header class="navbar">
      <mat-toolbar class="toolbar-wrapper" color="primary">
        <section class="toolbar-container">
          <h1>Alternova Shop</h1>
          <button
            style="z-index: 100"
            mat-icon-button
            (click)="drawerToggle(drawer)"
          >
            <mat-icon>{{
              drawerState === "open" ? "close" : "shopping_cart"
            }}</mat-icon>
          </button>
        </section>
      </mat-toolbar>
    </header>
    <article class="content">
      <section class="products-wrapper">
        <div class="products-container">
          <mat-card class="filters">
            <mat-form-field appearance="fill">
              <mat-label>Search product</mat-label>
              <input #search matInput placeholder="Ex. Iphone" />
            </mat-form-field>
            <div class="chip-listbox-wrapper">
              <mat-chip-listbox
                #category
                (change)="($event)"
                aria-label="Fish selection"
              >
                <mat-chip-option>technology</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>sport</mat-chip-option>
                <mat-chip-option>building</mat-chip-option>
              </mat-chip-listbox>
            </div>
          </mat-card>

          <app-products
            [products]="
              (productsStateService.getProducts$()
                | async
                | filterBy : 'name' : search.value
                | filterBy : 'type' : category.value) ?? []
            "
          ></app-products>
        </div>
      </section>
    </article>
  </main>
</mat-drawer-container>
