@use "src/assets/styles/variables" as vars;

.cart {
  padding: vars.$layout-padding-space;
  height: 100%;
}

.cart__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: sticky;
  background-color: white;
  padding: (vars.$layout-padding-space * 2) vars.$layout-padding-space;
  .cart__total {
    display: flex;
    align-items: baseline;
    gap: 8px;
    @media (max-width: vars.$layout-breakpoint-small) {
      justify-content: center;
      h3 {
        margin: 0;
      }
    }
  }
  @media (max-width: vars.$layout-breakpoint-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
  }
}

.cart__order-button {
  height: 100%;
}
