<aside *ngIf="cartStateService.getCart$() | async as cart" class="cart">
  <header class="cart__header">
    <h2>Cart ({{ cart.products.length }})</h2>
    <button mat-button color="accent" class="cart__clear-button" (click)="clearCart()">Clear</button>
  </header>
  <table
    app-table
    [data]="cart | tableAdapterFrom : TABLE_ADAPTER_VALUE.CART"
    [config]="tableConfig"
  ></table>
  <footer class="cart__footer">
    <div class="cart__total">
      <span>Total: </span>
      <h3>{{ cart.totalOrderPrice | currency : "USD" : "symbol" : "1.0" }}</h3>
    </div>
    <button
      mat-raised-button
      downloadJson
      [json]="cart"
      class="cart__order-button"
      color="accent"
    >
      CREATE ORDER
    </button>
  </footer>
</aside>
