@use "src/assets/styles/variables" as vars;

.image {
  width: 100%;
  height: 100%;
}

.card-title {
  display: flex;
}

.card-title__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-to-cart-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60%;
  gap: 16px;
}

.add-to-cart__input {
  text-align: center;
}

.add-to-cart__button {
  height: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .mdc-card__actions {
  padding: 16px !important;
}
