<mat-card class="card" [animatedFeedback]="animatedFeedbackError$">
  <div
    [ngStyle]="{
      'background-image':
        'url(assets/img/product-' + randomImageNumber + '.png)'
    }"
    class="image"
  ></div>
  <mat-card-content class="card-content">
    <mat-card-title class="card-title">
      <span class="card-title__text">
        {{ product.name }}
      </span>
    </mat-card-title>
    <mat-card-subtitle>{{
      product.unit_price | currency : "USD" : "symbol" : "1.0"
    }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <div class="add-to-cart-container">
      <mat-form-field appearance="fill">
        <input
          #input
          class="add-to-cart__input"
          matInput
          type="number"
          value="1"
          min="1"
        />
      </mat-form-field>
      <button
        class="add-to-cart__button"
        [animatedFeedback]="animatedFeedbackSucces$"
        (click)="addToCart(product, input.value)"
        color="accent"
        mat-raised-button
      >
        <mat-icon> add_shopping_cart </mat-icon>
        Add to cart
      </button>
    </div>
  </mat-card-actions>
</mat-card>
