<mat-card class="filters">
  <mat-form-field appearance="fill">
    <mat-label>Search product</mat-label>
    <input [(ngModel)]="searchValue" matInput placeholder="Ex. Iphone" />
  </mat-form-field>
  <div
    *ngIf="
      productCategoriesStateService.getProductCategories() as productCategories
    "
    class="chip-listbox-wrapper"
  >
    <mat-chip-listbox [(ngModel)]="categoryValue" aria-label="Fish selection">
      <mat-chip-option color="accent" *ngFor="let productCategory of productCategories">{{
        productCategory
      }}</mat-chip-option>
    </mat-chip-listbox>
  </div>
</mat-card>
